.container {
  width: 350px;
  height: 240px;
  background-color: var(--dark-200);
  border-radius: 5px;
  border-top: 1px solid var(--dark-300);
  border-left: 1px solid var(--dark-300);
  border-right: 1px solid var(--dark-300);
  border-bottom: 5px solid var(--green-color);
  padding: 1.875rem;
}

.containerImg {
  margin-bottom: 2.5rem;
}

.service {
  color: var(--dark-400);
  font-size: 2rem;
  font-weight: 500;
  width: 7.875rem;
}
