.container {
    width: 350px;
    height: 240px;
    background-color: #333333;
    border: 0 0 0 1px solid #00DF5E;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.containerImg {
    display: flex;
    justify-content: center;
    width: 100px;
}

.containerTexto {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 200px;
}

