.container {
  display: flex;
  flex-direction: column;
}

.voltar {
  width: 7.375rem;
  height: 1.938rem;
  display: flex;
  justify-content: center;
}

.voltar p {
  color: var(--green-color);
  font-size: 1.5rem;
  line-height: 1.953rem;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.containerFormulario {
  width: 34.375rem;
  height: 37.375rem;
  border-radius: 0.313rem;
  border: 0.063rem var(--green-color) solid;
}

.containerFormulario div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.containerFormulario img {
  margin-top: -2rem;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 30rem;
  height: 25.5rem;
  margin: auto;
  margin-top: 2.813rem;
}

.form h2 {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 2.929rem;
  color: var(--white-100);
  margin-bottom: 2rem;
}

.containerLabelAndInput label {
  width: 30rem;
  height: 1.938rem;
  color: var(--white-100);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.302rem;
}

.containerLabelAndInput input {
  background-color: yellow;
  width: 30rem;
  height: 3.75rem;
  border: 0.063rem var(--green-color) solid;
  border-radius: 0.375rem;
  background-color: transparent;
  margin-bottom: 1rem;
  color: var(--white-100);
}

.containerLabelAndInput input::placeholder {
  color: var(--white-100);
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.302rem;
  padding: 1rem;
}

.containerLabelAndInput span {
  color: #f03d3d;
}

.containerEsqueceuSenha p {
  width: 30rem;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 1rem;
  color: var(--white-100);
}

.containerBotao {
  width: 30rem;
  height: 3.75rem;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.302rem;
  background-color: var(--green-color);
  border: 0.063rem var(--white-100) solid;
  border-radius: 0.313rem;
  color: var(--white-100);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.containerCadastrar {
  width: 34.375rem;
  height: 16.25rem;
  background-color: var(--green-color);
  border-radius: 0.313rem;
  border: 0.063rem var(--white-100) solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.containerCadastrar p {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.929rem;
  color: var(--white-100);
  text-align: center;
  gap: 1rem;
}

.containerCadastrar button {
  font-size: 1rem;
  font-weight: 700;
  line-height: 2.929rem;
  color: var(--white-100);
  text-align: center;
  gap: 1rem;
}

.botaoCadastrar {
  width: 30rem;
  height: 3.75rem;
  border: 0.063rem var(--white-100) solid;
  border-radius: 0.313rem;
  background-color: var(--dark-100);
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.botaoCadastrar p {
  font-size: 1rem;
  line-height: 1.302rem;
  font-weight: 700;
  margin: 0;
  margin-right: 10px;
}
