.container {
    background-color: #212121;
    width: 350px;
    height: 240px;
    border-radius: 5px;
    border: 1px solid #333333;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerImagem {
    background-color: #171717;
    width: 300px;
    height: 130px;
    border-radius: 5px;
    border: 1px solid #333333;
}

.containerTextos {
    width: 300px;
    height: 45;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.titulo {
    font-size: 18px;
    font-weight: 500;
    line-height: 23.44px;
    color: #F9F9F9;
}

.texto {
    font-size: 14px;
    font-weight: 400;
    line-height: 18.23px;
    color: #828282;
}