.container {
  width: 71.25rem;
  height: 36.5rem;
  margin-top: 6.25rem;
  margin-left: 9.375rem;
  justify-content: center;
  align-items: center;
}

.containerTitulo {
  width: 8.875rem;
  height: 4.375rem;
  display: flex;
  justify-content: center;
  text-align: center;
  margin: auto;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  line-height: 2.604rem;
  color: var(--white-100);
}

.containerProjetos {
  width: 71.25rem;
  height: 33.875rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2.813rem;
}
