.container {
    width: 1140px;
    height: 584px;
    margin-top: 100px;
    margin-left: 150px;
    justify-content: center;
    align-items: center;
}

.containerTitulo {
    width: 142px;
    height: 70px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
    color: #F9F9F9;
}

.containerProjetos {
    width: 1140px;
    height: 542px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 45px;
}
