.container {
    width: 71.25rem;
    height: 19.5rem;
    margin-top: 6.25rem;
    margin-left: 9.375rem;
}

.containerTitulo {
    width: 8.313rem;
    height: 4.375rem;
    margin: auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.604rem;
    color: var(--white-100);
}

.containerInfos {
    width: 71.25rem;
    height: 6.25rem;
    display: flex;
    justify-content: space-between;
}