.container {
    width: 1140px;
    height: 512px;
    margin: auto;
    margin-top: 64px;
}

.containerTitulo {
    width: 325px;
    height: 42px;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
    color: #FFFFFF;
}

.containerTextos {
    width: 1140px;
    height: 480px;
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.textos {
    font-size: 18px;
    font-weight: 400;
    line-height: 32px;
    color: #828282;
}