.container {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin-top: 8rem;
  border-top: 0.063rem var(--green-color) solid;
  background-color: var(--dark-200);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.texto {
  font-size: 1rem;
  font-weight: 700;
  color: var(--white-100);
}

.nome {
  font-size: 1rem;
  font-weight: 700;
  color: var(--green-color);
}

.containerChameleon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.chameleon {
  color: var(--dark-400);
  font-size: 1rem;
}
