.container {
    width: 1440px;
    height: 120px;
    margin-top: 150px;
    background-color: #212121;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerNome {
    display: flex;
    justify-content: center;
}

.texto {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    color: #F9F9F9;
}

.nome {
    font-size: 16px;
    font-weight: 700;
    line-height: 20.83px;
    color: #00DF5E;
}

.containerChameleon {
    display: flex;
    justify-content: center;
}