.container {
    width: 100%;
    height: 7.5rem;
    margin-top: 8rem;
    background-color: var(--dark-200);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.containerNome {
    display: flex;
    justify-content: center;
}

.texto {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.302rem;
    color: var(--white-100);
}

.nome {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.302rem;
    color: var(--green-color);
}

.containerChameleon {
    display: flex;
    justify-content: center;
}