.container {
    width: 760px;
    height: 130px;
    margin-left: 340px;
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.containerIconNome {
    width: 94px;
    height: 130px;
}

.containerIconEmail {
    width: 167px;
    height: 127px;   
}

.containerIconGithub {
    width: 94px;
    height: 130px;   
}

.containerIconPhone {
    width: 130px;
    height: 127px;   
}

.emoji {
    width: 62px;
    height: 62px;
    border-radius: 100%;
    border: 1px #333333 solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.titulo {
    font-size: 18px;
    font-weight: 700;
    line-height: 23.44px;
    color: #F9F9F9;
}

.texto {
    font-size: 16px;
    font-weight: 400;
    line-height: 20.83px;
    color: #828282;
}