.container {
    width: 1140px;
    height: 222px;
    margin-left: 150px;
    margin-top: 100px;
    /* display: flex;
    flex-direction: column; */
}

.containerTitulo {
    width: 196px;
    height: 42px;
    margin: auto;
}

.titulo {
    font-size: 32px;
    font-weight: 700;
    line-height: 41.66px;
    color: #F9F9F9;
}

.containerInfos {
    width: 1140;
    height: 150px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}