.container {
  margin-top: 8rem;
}

.containerTitulo {
  text-align: center;
}

.titulo {
  font-size: 2rem;
  font-weight: 700;
  color: var(--white-100);
  margin-bottom: 2rem;
}

.containerInfos {
  display: flex;
  justify-content: space-between;
}
