.container {
    width: 71.25rem;
    height: 13.875rem;
    margin-left: 9.375rem;
    margin-top: 6.25rem;
}

.containerTitulo {
    width: 12rem;
    height: 2.625rem;
    margin: auto;
}

.titulo {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.604rem;
    color: var(--white-100);
}

.containerInfos {
    width: 71.25rem;
    height: 9.375rem;
    margin-top: 2.5rem;
    display: flex;
    justify-content: space-between;
}