:root {
  --green-color: #00df5e;

  --dark-100: #171717;
  --dark-200: #212121;
  --dark-300: #333333;
  --dark-400: #828282;

  --white-100: #f9f9f9;

  --default: 1rem;
  --main-title: 2.25rem;
  --subtitle: 2rem;
  --project-title: 1.125rem;
  --project-subtitle: 0.875rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-100);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: "DM Sans", sans-serif;
}
