:root {
  --green-color: #00DF5E;

  --dark-100: #171717;
  --dark-200: #212121;
  --dark-300: #333333;
  --dark-400: #828282;
  
  --white-100: #F9F9F9;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--dark-100);
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  font-size: 1rem;
  font-family: 'DM Sans', sans-serif;
}
