.container {
    width: 1140px;
    height: 646px;
    margin: auto;
    margin-top: 64px;
    background-color: #333333;  
}

.containerTitulo {
    width: 287px;
    height: 47px;
    margin: auto;
}

.titulo {
    font-size: 36px;
    font-weight: 700;
    color: #FFFFFF;
}
