.container {
  width: 46.625rem;
  height: 14.625rem;
  margin-left: 21.688rem;
  margin-top: 4.375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.titulo {
  width: 10.451rem;
  height: 2.625rem;
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
  color: var(--white-100);
  line-height: 2.604rem;
}

.texto {
  width: 46.625rem;
  height: 10rem;
  font-size: 1.125rem;
  font-weight: 400;
  line-height: 2rem;
  color: var(--dark-400);
  display: flex;
  text-align: center;
}
