.container {
    width: 71.25rem;
    height: 3.125rem;
    margin-top: 2rem;
    margin-left: 9.375rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links ul {
    display: flex;
    text-decoration: none;
    gap: 4.375rem;
    list-style: none;
}

a {
    color: var(--white-100);
    text-decoration: none;
    cursor: pointer;
    font-size: 1.125rem;
    font-weight: 400;
}