.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 2rem 9.375rem 0 9.375rem;
}

.links ul {
  display: flex;
  text-decoration: none;
  gap: 2.813rem;
  list-style: none;
}

a {
  color: var(--white-100);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--default);
  font-weight: 400;
}
